.vscode/
*.deb
*.egg
*.egg-info/
*.egg/
*.ignore
*.py[co]
*.py[oc]
*.spl
*.vagrant
.DS_Store
.coverage
.eggs/
.eggs/*
.idea
.idea/
.pt
.vagrant/
RELEASE-VERSION.txt
build/
cover/
dist/
dump.rdb
flake8.log
local/
local_*
metadata/
nosetests.xml
output.xml
pylint.log
redis-server.log
redis-server/
__pycache__
.ipynb_checkpoints/
config.ini
