click
ghp-import
griffe
importlib-metadata
jinja2
markdown
markdown-include
markupsafe
mergedeep
mkdocs
mkdocs-autorefs
mkdocs-include-markdown-plugin
mkdocs-material
mkdocstrings-python
mkdocstrings[python]
packaging
pymdown-extensions
pyparsing
python-dateutil
pyyaml
pyyaml-env-tag
six
zipp
